<div class="main-content">
    <h1>Add A New Recipe</h1>
    <%= form_for @new_recipe, url: "/recipes/create" do |f| %>
        <div class="user-attribution_field">
        <%= f.fields_for :user_recipes do |u| %>
            <%= u.hidden_field 'user_id', value: @user.id %>
        <% end %>
        </div>
        <h2>Recipe Information</h2>
        <div class="field"><%= f.text_field :name, placeholder: "TITLE", required: true, class: "input-field" %></div>
        <div class="field"><%= f.text_field :description, placeholder: "DESCRIPTION" %></div>
        <%# "Object in Top-Level Form: #{f.object || 'nil'}" %>
        <h3>Ingredients</h3>
        <div id="recipe_ingredients">
            <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
                <%# "Object in fields_for Form: #{recipe_ingredient || 'nil'}" %>
                <%= render "new_recipe_ingredient_fields", :f => recipe_ingredient %>
            <% end %>
            <div class="links">
                <%= link_to_add_association 'Add An Ingredient', f, 'recipe_ingredients', partial: 'new_recipe_ingredient_fields' %>
            </div>
        </div>
        <%= f.submit "CREATE NEW RECIPE" %>
    <%end%>

</div>