<%= form_for @recipe do |f| %>
            <div class="user-attribution_field">
            <%= f.fields_for :user_recipes do |u| %>
                <%= u.hidden_field 'user_id', value: @user.id %>
            <% end %>
            </div>
            <h2>Recipe Information</h2>
            <div class="field"><%= f.hidden_field :id, value: @recipe.id %>
            <div class="field"><%= f.text_field :name, placeholder: "TITLE", required: true, class: "input-field" %></div>
            <div class="field"><%= f.text_field :description, placeholder: "DESCRIPTION" %></div><br>
            <div class="field"><%= f.check_box :private, {}, true, false %><%= f.label "MAKE THIS RECIPE PRIVATE?" %>
            <h3>Ingredients</h3>
            <div id="recipe_ingredients">
                <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
                    <%= render "new_recipe_ingredient_fields", :f => recipe_ingredient %>
                <% end %>
                <div class="links">
                    <%= link_to_add_association 'Add An Ingredient', f, 'recipe_ingredients', partial: 'new_recipe_ingredient_fields' %>
                </div>
            </div><br>
            <h3>Steps</h3>
            <div id="recipe_steps">
                <%= f.fields_for :recipe_steps do |step| %>
                    <%= render "new_recipe_step_fields", :f => step %>
                <% end %>
                <div class="links">
                    <%= link_to_add_association "Add New Step", f, 'recipe_steps', partial: 'new_recipe_step_fields' %>
                </div>
            </div>
            <%= f.submit @recipe.persisted? ? "Update Recipe" : "CREATE NEW RECIPE" %>
        <%end%>