<!DOCTYPE html>
<html>
  <head>
    <title>RecipeCache</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render(partial: "nav_bar") if logged_in? %>
    <%= render(partial: "system_messages", locals: { error: flash[:error], message: flash[:message] }) if flash[:error] || flash[:message] %>
    <%= yield %> 
  </body>
</html>
